@import "../../styles/partials/variables.scss";

.videoPlayer {
  width: calc(100% + 2 * $padding-between-components-mobile);
  margin-left: calc(-1 * $padding-between-components-mobile);

  &__video {
    width: 100%;
    height: auto;
  }
}
