@import "../../styles/partials/variables";

.comment-section {
  background-color: #fff;

  &__header {
    font-size: 16px;
    margin-bottom: 16px;
  }

  &__list {
    list-style-type: none;
    padding: 0;
  }
}

.comment {
  display: flex;
  margin-bottom: 16px;
}

.comment-avatar {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  margin-right: 8px;
}

.comment-content {
  flex: 1;

  &__header &__author {
    font-size: $subheader-font-size;
    line-height: $subheader-line-height;
    font-weight: bold;
    margin-right: 2 * $spacing-unit;
  }
  
  &__header &__timestamp {
    color: $secondary-text-color;
    font-size: $section-header-font-size;
  }

  &__text {
    font-size: $body-copy-font-size;
    line-height: $body-copy-line-height;
    margin-top: $padding-between-components-mobile;
  }
}
