@import "../../styles/partials/variables";

form {
  display: flex;
  align-items: center;
  background: url("../../assets/images/icons/search.svg") no-repeat left;
  background-position-x: 10px;
}

.form-label {
  width: 20rem;
  height: 2rem;
  margin-left: 15%;
  border: none;
  padding: 0;
}


::placeholder {
  color: $brainflix-black;
  opacity: 1; 
}
