@import "../../styles/partials/variables";

.header__searchbar-form {
  width: 80%;
  background: url("../../assets/images/icons/search.svg") no-repeat left;
  background-position-x: (2 * $spacing-unit);
  transition: border-color 0.3s;
  margin-bottom: $padding-between-components-mobile;
}

.header__searchbar-input {
  height: 2.5rem;
  margin-left: 15%;
  border: none;
}

::placeholder {
  color: $primary-text-color;
  opacity: 1; 
}
