@import '../../styles/partials/variables';

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $white;
    color: $white;
    flex-wrap: wrap;
  }
  
  .logo {
    padding-bottom: $padding-between-components-mobile;
  }
  
  .logo-image {
    width: 120px; 
    height: 25px; 
  }
  
  .title {
    font-size: 24px;
  }