@import "../../styles/partials/variables";

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $white;
  color: $white;
  flex-wrap: wrap;
  padding-bottom: $padding-between-components-mobile;
  width: 100%;
}

.header__logo-image {
  width: 120px;
  margin: auto;
  padding-bottom: $padding-after-headline-mobile;
}

.title {
  font-size: 24px;
}
