@import '../../styles/partials/variables';

.header__upload-button {
  display: block;
  width: 100%;
  background-color: $brainflix-blue;
  color: $white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;

  background-image: url('../../assets/Images/icons/upload.svg'); 
  background-repeat: no-repeat;
  background-position: (4 * $spacing-unit) center;

  :hover{
    background-color: $brainflix-darkblue;
  }
}

