@import '../../styles/partials/variables';

.header__upload-link {
  width: 100%;
}

.header__upload-button {
  background-color: $brainflix-blue;
  color: $white;
  border-radius: $border-radius;
  cursor: pointer;
  transition: background-color 0.3s;

  background-image: url('../../assets/images/icons/upload.svg'); 
  background-repeat: no-repeat;
  background-position: (4 * $spacing-unit) center;

  :hover{
    background-color: $brainflix-darkblue;
  }
}

