@import '../../styles/partials/variables.scss';

.video-details {

  .video-metadata {
    display: flex;
    justify-content: space-between; // This separates the two columns
    font-size: 1rem; 
    color: $mercury;

    .video-info,
    .video-stats {
      flex-basis: 50%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }

    .video-author,
    .video-date,
    .video-views,
    .video-likes {
      display: flex;
      align-items: center;
      margin: $spacing-unit 0;

      img {
        width: 1em; 
        height: 1em; 
        margin-right: 0.5em;
      }
    }
  }

  // .divider {
  //   // Styles for the divider, if any
  // }

  // .video-description {
  //   // Styles for the video description, if any
  // }
}
